/* Rmember to either normalize or reset the css styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 16px; */
  font-family: sans-serif;
}

@font-face {
  font-family: "Norse";
  src:
    url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: row;
}

.left {
  width: 35vw;
  height: 100vh;
  background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /**
   * NOTE:
   *   The following placement of border is needed if the 'reset' does not
   *   include "box-sizing: border-box;"
   *   The 3 lines of code before placing the "border: 1px solid black;" 
   *   is to make the border draw 'inside' the box. 
   *   If there's no border around the outer box, in this case '.left' div, then
   *   whatever margins or padding will start at the next 'border' which is 
   *   on the '.logo' div. 
   **/
  /* The following will place the border inside the box */
  /*   src: https://stackoverflow.com/questions/9601357/placing-border-inside-of-div-and-not-on-its-edge */
  /* box-sizing: border-box; */
  /* -moz-box-sizing: border-box; */
  /* -webkit-box-sizing: border-box; */
  /* */
  /* border: 1px solid black; */
}

.logo {
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 12em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* max-height: 8em + height: auto and width: auto will maintain
 * the image's aspect ratio.
**/
img {
  max-height: 8em;
  height: auto;
  width: auto;
  margin-right: 0;
  margin-top: 0.6em;
}

.hero {
  font-family: Norse, sans-serif;
  color: white;
  /* font-size: clamp(5em, 10vh, 16em); */
  /* font-size: min(5em, 20vh); */
  font-size: max(2em, 15vh);
  margin-left: 0;
}

.right {
  /* padding-left: 2em; */
  background-color: rgb(255, 255, 255);
  width: 65vw;
  height: 100vh;
}

.container.right {
  margin: auto 0;
  padding: 6em 2em;
}

p {
  color: #000;
  font-size: 1.3em;
  font-weight: 600;
}

/* form { */
/*   font-size: 0.8em; */
/* } */

label {
  font-size: 0.6em;
  font-weight: none;
}

section {
  display: flex;
  flex-direction: row;
  gap: 5em;
  /* line-height: 2em; */
}

input {
  height: 2.2em;
  width: 20em;
  border: 1px solid black;
  border-radius: 4px;
  -moz-background-color: #fff;
}

button {
  height: 2.6em;
  background-color: #596d48;
  padding: 0 3em;
  font-weight: 900;
  color: white;
  font-size: 1em;
  border-radius: 0.6em;
}
