/* Rmember to either normalize or reset the css styling */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Norse";
  src:
    url("Norse-Bold.woff2") format("woff2"),
    url("Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.left {
  background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  width: 35vw;
  height: 100vh;
}
